@model Models.Country

@{
	string strTitle = "Details of Country";

	ViewBag.Title = strTitle;
}

<h2>
	@strTitle
</h2>

<hr />

<div class="row">
	<div class="col-sm-3">
		@Html.DisplayNameFor(model => model.IsActive)
	</div>
	<div class="col-sm-9">
		@Html.DisplayFor(model => model.IsActive)
	</div>
</div>

<div class="row">
	<div class="col-sm-3">
		@Html.DisplayNameFor(model => model.Name)
	</div>
	<div class="col-sm-9">
		@Html.DisplayFor(model => model.Name)
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		@Html.ActionLink("Back to List", MVC.Countries.Index())
		|
		@Html.ActionLink("Edit", MVC.Countries.Edit(Model.Id))
		|
		@Html.ActionLink("Delete", MVC.Countries.Delete(Model.Id))
	</div>
</div>
